body {
    background-color:#AFD2CE; /*white;*//*#89c6ba;*/
    font-family: 'Raleway', sans-serif;
}

#logo {
    position:absolute;
    top: 18px;
    left: 2%;
    color: black;
    text-decoration: none;
}
#logo a {
    color: black;
    text-decoration: none;
}

#logo a:hover{
    color:#42afaf;
}

nav {
    float:right;
    vertical-align: middle;
    background-color:white;
    width:100%;
    text-align: right;
    height: 40px;
    font-size: 20px;
    position:absolute;
    top:10px;
    box-shadow: 2px 2px 5px grey;
}

#menu {
    margin-right:20px;
}

#menu a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    line-height: 40px;
}
#menu a:hover {
    color:#42afaf;
}



#handburger {
    color:black;
    font-size: 26px;
    display: none;
    margin-right: 20px;
    
}
#toggle {
    display:none;
 
}

@media (max-width: 1024px){
    
    #handburger {
        display: block;
        cursor: pointer;
        float: right;
    }
    #menu {
        display: none;
        background-color: white;
        opacity: 0.7;
        text-align: right;
        clear:right;
        float: right;
        margin-right: 0px;
        margin-top: 10px;
        padding-right: 20px;
        width: 200px;
    }
    #menu a {
        display:block;
    }
    #toggle:checked + #menu {
        display:block;
    }
}



h1{
    text-align:left;
}
h2{
    text-align: center;
    top:30px;
    left: 45%;
}

#headshot{
    position: relative;
    border-radius: 50%;
    object-position: center;
    width: 150px;
    top: 250px;
    left:50%;
    transform: translate(-50%);
    margin-bottom: 5px;
}

#welcome {
    position: absolute;
    top: 45%;
    left: 20%;
    right: 20%;
    margin-top: 5px;
}
p{
    position: relative;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 40;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}

#resume{
    position: relative;
    width: 346px;
    height: 73px;
    top:550px;
    left:40%;
    right:40%;
    transform: translate(-40%, -40%);
    background: #D9D9D9;
    align-items: center;
    align-content: center;
    text-align:center;
    padding-bottom: 65px;
}
#resumetext {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 55px;
    line-height: 65px;
    display:block;
    text-align: center;
    color:black;
    text-decoration: none;
    padding-bottom: 65px;
}
#resumetext a:hover {
    color:#42afaf;
}





#contactme{
    top: 10px;
    left: 40%;
    right: 40%;
}

form {
    font-size: 27px;
    width:800px;
    height:75px;
}
#form {
    position:absolute;
    top:35%;
    left: 43%;
    right: 45%;
    transform: translate(-45%, -45%)
    /*justify-content: center;*/
}
#name {
    width: 50%;
    height: 35%;
}
#email {
    width: 50%;
    height: 35%;
}
#note {
    width:50%;
    height:200%;
}






#mywork{
    text-align: center;
    /*top:30px;
    left:45%;*/
}


#workgallery {
    position: relative;
    
    
}
#fellowship {
    position: absolute;
    max-width: 548px;
    max-height: 530px;
    left: 96px;
    top: 312px;
}

#pod{
    position: absolute;
    width: 482px;
    height: 481px;
    left: 719px;
    top: 312px;
}

#funko {
    position: absolute;
    width: 546px;
    height: 307px;
    left: 1276px;
    top: 312px;
}

#robot {
    position: absolute;
    width: 548px;
    height: 548px;
    left: 96px;
    top: 917px;
}

#teddy {
    position: absolute;
    width: 486px;
    height: 347px;
    left: 719px;
    top: 868px;
}

#loving {
    position: absolute;
    width: 546px;
    height: 546px;
    left: 1276px;
    top: 694px;
}

#h182 {
    position: absolute;
    width: 548px;
    height: 392px;
    left: 96px;
    top: 1540px;
}

#chat{
    position: absolute;
    width: 482px;
    height: 482px;
    left: 719px;
    top: 1290px;
}

#lnlflyer{
    position: absolute;
    width: 486px;
    height: 628px;
    left: 715px;
    top: 1847px;
    padding-bottom: 100px;
}

#arth{
   position: absolute;
    width: 546px;
    height: 695px;
    left: 1276px;
    top: 1308px; 
}






#myresumediv{
    position: relative;
    left:45%;
    right:45%;
    padding-bottom: 25px;
    transform: translate(-45%, -45%);
    
    /*padding-bottom: 50px;
    bottom: 50px;
    align-content: center;
    align-items: center;*/
}
#myresume{
    position: absolute;
    width: 736.5px;
    height: 953px;
    left: 30%;
    right:45%;
    top: 150px;
    padding-bottom: 65px;
}







#workpage{
    top: 50%;
    left: 10%;
    right:10%;
    transform: translate(-50%,-10%,-10%)
}
#worktitle{
    top: 50px;
    left: 10px;
}
#workp {
    position: absolute;
    top:100px;
    left: 650px;
    text-align: left;
    font-size: 25px;
    line-height: inherit;
    width: 400px;
}
#fellowshippage {
    position: absolute;
    width: 548px;
    height: 530px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#podpage{
    position: absolute;
    width: 548px;
    height: 530px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#funkopage{
    position: absolute;
    width: 546px;
    height: 307px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#robotpage{
    position: absolute;
    width: 548px;
    height: 548px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}

#teddypage {
    position: absolute;
    width: 486px;
    height: 347px;
    top: 50px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#lovepage{
    position: absolute;
    width: 546px;
    height: 546px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#signpage{
    position: absolute;
    width: 548px;
    height: 392px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#iconpage{
    position: absolute;
    width: 637px;
    height: 388px;
    top: 130px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#arthpage{
    position: absolute;
    width: 546px;
    height: 695px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}
#lnlpage{
    position: absolute;
    width: 486px;
    height: 628px;
    top: 60px;
    left: 30%;
    transform: translate(-30%, 0%);
}











